<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/todo.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script
            src="https://code.jquery.com/jquery-2.2.4.js">
        </script>
    </head>
    <body>
        <div>
            <h3>TO-DO LIST <i class="fa fa-plus"></i></h3>
            <input type="text" placeholder="Add New Todo">
            <div id="list">
            </div>
        </div>
        <script src="/todo.js"></script>
    </body>
</html>